table {
    width: 100%;    
}

th {
    font-weight: bold;
    border-bottom: 1px solid black;
}

th, td {    
    text-align: center;
}

td {
    padding: 10px 0px;
}

.docText {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messageText {
    max-width: 1100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statusOK {
    color: blue;
}

.statusKO {
    color: red;
}

.emptyDocuments {
    text-align: center;
}
